<h1>Shopping Cart</h1>
<table class="highlight">
  <thead>
    <tr>
      <th data-field="name">Item</th>
      <th data-field="price">Price</th>
      <th></th>
    </tr
  </thead>
  <tbody>
    <% total = 0 %>
    <% @cart.purchases.each do |purchase| %>
      <% product = Product.find(purchase.product_id) %>
      <% total += product.price.to_f %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.price %></td>
        <td><%= link_to "Remove", remove_from_cart_path(@cart, purchase), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="grey">
    <tr>
      <td>Total: </td>
      <td><%= total.to_s %></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<button class="btn">Proceed to Checkout</button>
