<h1>All Products</h1>
<div class="row">
  <div class="col s12 cards-container">
    <% @products.each do |product| %>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= link_to product.name, product_path(product), class: "orange-text"%></span>
            <p class="product-description"><%= product.description %> </p>
            <h5 class="right">$<%= product.price %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
<% if current_user.admin %>
  <%= link_to "Add Product", new_product_path, class: "waves-effect waves-light btn form-btn" %>
<% end %>
<br/>
<br/>
<br/>
